<TMPL_INCLUDE NAME="header.tmpl">
<div id="list-entry">
<style type="text/css">
form.filter-priority #filter-mode-only, form.filter-blog_id #filter-mode-only, form.filter-blog_id #filter-blog_id, form.filter-priority #filter-priority, form.filter-worker #filter-mode-only, form.filter-worker #filter-worker {
    display: inline !important
}
</style>
<script type="text/javascript">
function enableFilterButton(fld) {
    getByID("filter-button").style.display = "inline";
}

function toggleFilter() {
    var filterActive = getByID("filter-active");
    if (filterActive.style.display == "none") {
        filterActive.style.display = "block";
        getByID("filter-select").style.display = "none";
    } else {
        filterActive.style.display = "none";
        getByID("filter-select").style.display = "block";
    }
}

function setFilterCol(choice) {
    var sel = getByID('filter-select');
    if (!sel) return;
    sel.className = "filter-" + choice;
    if (choice == 'none') {
        getByID('filter-mode').selectedIndex = 0;
   	} else {
        getByID('filter-mode').selectedIndex = 1;
        var fld = getByID('filter-col');
        if (choice == 'priority')
           fld.selectedIndex = 0;
        else if (choice == 'blog_id')
            fld.selectedIndex = 1;
        else if (choice == 'worker')
            fld.selectedIndex = 2;
        col_span = getByID("filter-text-col");
        if (fld.selectedIndex > -1 && col_span)
            col_span.innerHTML = '<strong>' +
                fld.options[fld.selectedIndex].text + '</strong>';
    }
}

var tableSelect;
function init()
{
	setFilterCol(<TMPL_IF NAME=FILTER>'<TMPL_VAR NAME=FILTER>'<TMPL_ELSE>'none'</TMPL_IF>);
	<TMPL_IF NAME=FILTER>setFilterVal('<TMPL_VAR NAME=FILTER_VAL>');</TMPL_IF>
}

TC.attachLoadEvent( init );
// -->
</script>

<h2><span class="weblog-title-highlight"><TMPL_IF NAME=BLOG_ID><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML><TMPL_ELSE><MT_TRANS phrase="System-wide"></TMPL_IF>:</span> <MT_TRANS phrase="RebuildQueue"></h2>
<p class="page-desc">
	These are the items currently in the rebuild queue.
</p>

<TMPL_IF NAME=SAVED>
<div class="message"><MT_TRANS phrase="Your changes have been saved."></div>
</TMPL_IF>

<TMPL_IF NAME=SAVED_DELETED>
<div class="message"><MT_TRANS phrase="Your item(s) have been deleted from the queue."></div>
</TMPL_IF>
<div class="list-filters">
<div class="inner">

<div id="filter-active">

<div class="rightcol">
<TMPL_UNLESS NAME=FILTER>
<TMPL_ELSE>
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=rq_list<TMPL_IF NAME=BLOG_ID>&amp;blog_id=<TMPL_VAR NAME=BLOG_ID></TMPL_IF>"><MT_TRANS phrase="Reset"></a>
</TMPL_UNLESS>
</div>

<strong><MT_TRANS phrase="Filter">:</strong>

<TMPL_UNLESS NAME=FILTER>
<a href="#" onclick="toggleFilter()"><MT_TRANS phrase="None."></a> <span class="hint"><MT_TRANS phrase="(Showing all items.)"></span>
<TMPL_ELSE>
<a href="#" onclick="toggleFilter()"><MT_TRANS phrase="Showing only items where [_1] is [_2]." params='<span id="filter-text-col">&nbsp;</span>%%<span id="filter-text-val"></span>'></a>
</TMPL_UNLESS>

</div>

<form id="filter-form" method="get" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="rq_list" />
<TMPL_IF NAME=BLOG_ID>
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
</TMPL_IF>
<input id="filter" type="hidden" name="filter" value="" />
<input id="filter_val" type="hidden" name="filter_val" value="" />
</form>

<form id="filter-select" method="get" action="<TMPL_VAR NAME=SCRIPT_URL>" onsubmit="return execFilter(this)" style="display: none">
	<MT_TRANS phrase="Show">
	<select id="filter-mode" name="mode" onchange="if (this.options[this.selectedIndex].value == 'all') { setFilterCol('none') } else { setFilterCol('priority') } enableFilterButton()">
	<option value="all"><MT_TRANS phrase="all"></option>
	<option value="only"><MT_TRANS phrase="only"></option>
	</select>
	<span id="filter-mode-all" style="display: none">
	<MT_TRANS phrase="items.">
	</span>
	<span id="filter-mode-only" style="display: none">
	<MT_TRANS phrase="items where">
	<select id="filter-col" name="filter" onchange="setFilterCol(this.options[this.selectedIndex].value);enableFilterButton(this)">
	<option value="priority"><MT_TRANS phrase="priority"></option>
	<option value="blog_id"><MT_TRANS phrase="blog"></option>
	<option value="worker"><MT_TRANS phrase="worker"></option>
	</select>
	<MT_TRANS phrase="is">
	<span id="filter-priority" style="display: none">
		<select id="priority-val" name="filter_val" onchange="enableFilterButton()">
		<option value="1"><MT_TRANS phrase="Highest (1)"></option>
		<option value="3"><MT_TRANS phrase="3"></option>
		<option value="5"><MT_TRANS phrase="5"></option>
		<option value="7"><MT_TRANS phrase="7"></option>
		<option value="9"><MT_TRANS phrase="Lowest (9)"></option>
		</select>
	</span>
	<span id="filter-blog_id" style="display: none">
	<select id="blog_id-val" name="filter_val" onchange="enableFilterButton()">
		<TMPL_LOOP NAME="BLOGS_LOOP"><option value="<TMPL_VAR NAME="ID">"><TMPL_VAR NAME="NAME"></option></TMPL_LOOP>
	</select>
	</span>
	<span id="filter-worker" style="display: none">
	<select id="worker-val" name="filter_val" onchange="enableFilterButton()">
		<TMPL_LOOP NAME="WORKERS_LOOP"><option value="<TMPL_VAR NAME="ID">"><TMPL_VAR NAME="ID"></option></TMPL_LOOP>
	</select>
	</span>
	
	<MT_TRANS phrase=".">
	</span>
&nbsp;

<input type="submit" value="<MT_TRANS phrase="Filter">" id="filter-button" style="display: none" />
<input type="button" value="<MT_TRANS phrase="Cancel">" onclick="toggleFilter()" />

</form>
</div>
</div>
<form name="photo_form" method="post">
<input type="hidden" name="__mode" value="rq_delete" id="__mode">	
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME="BLOG_ID">">
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>">
<TMPL_IF NAME=POSITION_ACTIONS_TOP>
<div class="list-actions">
	<div class="button-bar">
	<input type="submit" name="delete_task" onClick="document.getElementById('__mode').value = 'rq_delete';" value="<MT_TRANS phrase="Delete">" accesskey="x" title="<MT_TRANS phrase="Delete selected photos (x)">" />
	</div>
</div>
</TMPL_IF>
<TMPL_IF NAME="QUEUELOOP">
<div class="list-wrapper">
<TMPL_INCLUDE NAME="plugins/RebuildQueue/tmpl/queue_table.tmpl">
<TMPL_IF NAME=POSITION_ACTIONS_BOTTOM>
<div class="list-actions">
		<div class="button-bar">
		<input type="submit" name="delete" onClick="document.getElementById('__mode').value = 'delete';" value="<MT_TRANS phrase="Delete">" accesskey="x" title="<MT_TRANS phrase="Delete selected items (x)">" />
		</div>
</div>
</TMPL_IF>
</form>
<TMPL_INCLUDE NAME=pager.tmpl>
</div>
<TMPL_ELSE>
<div class="message"><MT_TRANS phrase="Nothing in the queue."></div>
</TMPL_IF>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
